{% extends 'base.html.twig' %}

{% block title %}Edit Agence{% endblock %}

{% block body %}
    <h1>Edit Agence</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('app_list_agence') }}" class="btn btn-secondary">Back to the list</a>
{% endblock %}
