{% extends 'base.html.twig' %}

{% block title %}Add Annonce{% endblock %}

{% block body %}
    <h1>Add Annonce</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Add Annonce</button>